In [1]:
import numpy as np
import pandas as pd
import sqlite3

In [2]:
con = sqlite3.connect("dps_data.db")
con.text_factory = str

sia = pd.read_sql("SELECT * from sia;", con)
stops = pd.read_sql("SELECT * from stops;", con)

In [3]:
STATUS_CHECK = stops[stops["immigration_status_check"] == "Y"]

NUM_STOPS = float(len(stops))
NUM_STATUS_CHECK_STOPS = float(len(STATUS_CHECK))
print NUM_STATUS_CHECK_STOPS / NUM_STOPS

0.0012925761366

In [4]:
print "Status check vehicle impounded: {}%".format(
            (len(STATUS_CHECK[STATUS_CHECK["vehicle_impounded"] == "Y"])
                 / NUM_STATUS_CHECK_STOPS)
                 * 100)
print "Total: {}%".format(
            (len(stops[stops["vehicle_impounded"] == "Y"])
                / NUM_STOPS)
                * 100)

Status check vehicle impounded: 41.2378303199%
Total: 1.85868493412%

In [5]:
print "Status check vehicle search: {}%".format(
            (len(STATUS_CHECK[STATUS_CHECK["search_of_vehicle"] == "Y"])
                 / NUM_STATUS_CHECK_STOPS)
                 * 100)
print "Total: {}%".format(
            (len(stops[stops["search_of_vehicle"] == "Y"])
                 / NUM_STOPS)
                 * 100)

Status check vehicle search: 64.9513212796%
Total: 4.14900760175%

In [6]:
sia["year_of_stop"] = sia["dateofstop"].apply(lambda x: x[-4:])
sia = sia[sia["year_of_stop"] == "2013"]

stops["year_of_stop"] = stops["date_of_stop"].apply(lambda x: x[0:4])
stops = stops[stops["year_of_stop"] == "2013"]

STATUS_CHECK["year_of_stop"] = STATUS_CHECK["date_of_stop"].apply(lambda x: x[0:4])
STATUS_CHECK = STATUS_CHECK[STATUS_CHECK["year_of_stop"] == "2013"]

In [7]:
print "All traffic stops"
df = pd.DataFrame(columns=["Ethnicity", "#", "%"])
i = 0
for name, group in stops.groupby(["ethnicity_desc"]):
    df.loc[i] = [name,
                 len(group),
                 np.true_divide(len(group), len(stops)) * 100]
    i += 1
df.sort("#", ascending=False)

All traffic stops

                  Ethnicity       #          %
7                     WHITE  183734  59.313613
3                  HISPANIC   80923  26.123829
2                     BLACK   17406   5.619062
5           NATIVE AMERICAN   13974   4.511133
1  ASIAN / PACIFIC ISLANDER    6739   2.175506
4            MIDDLE EASTERN    4632   1.495317
6     OTHER OR UNDETERMINED    2321   0.749273
0                                38   0.012267

In [8]:
print "Immigration status checks"
df = pd.DataFrame(columns=["Ethnicity", "#", "%"])
i = 0
for name, group in STATUS_CHECK.groupby(["ethnicity_desc"]):
    df.loc[i] = [name,
                 len(group),
                 np.true_divide(len(group), len(STATUS_CHECK)) * 100]
    i += 1
df.sort("#", ascending=False)

Immigration status checks

         Ethnicity    #          %
1         HISPANIC  356  98.071625
3            WHITE    5   1.377410
0            BLACK    1   0.275482
2  NATIVE AMERICAN    1   0.275482